.card-body{
    border-color: pink;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.4); /* Decrease brightness */
  }
  body {
    background-image: url('bg.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed; /* This keeps the background image fixed while scrolling */
    /* Add other styles as needed */
    
  }
  .card{
    border-color: pink;
  }